.peek-details-section {
    /* Contains the Details Section looks classes */
    margin-top: $general_padding_2;

    .details-section-title {
        /*
        Contains the title attributes unique to the Details Section
        this text will have the text-muted effect
    */
    }

    .details-section-value {
        /*
        Contains the value attributes unique to the Details Section
        text to have the focus of attention
    */
        margin-top: $general_padding_2;
        margin-bottom: $general_padding_2;

        .multiline {
            /*
          For web app layout.
          This class is to be used for multi-line support.
          Whitespace is preserved by the browser. Text will wrap when
          necessary, and on line breaks.  Must be in a span
      */
            white-space: pre-wrap;
        }

        .editable {
            /*
          Contains the editable attributes unique to the .details-section-value class
      */
            @include editable-web-layout;
        }

        .editable-md {
            /*
          Contains the height property for the .editable class
      */
            @include editable-web-layout;
            height: $general_height_2;
        }

        .editable-lg {
            /*
          Contains the height property for the .editable class
      */
            @include editable-web-layout;
            height: $general_height_3;
        }

        //Select lists
        select.editable {
            height: $general_height_1;
        }

        //Single line inputs
        input.editable {
            height: $general_height_1;
        }

        //Multi line inputs
        textarea.editable {
            height: $general_height_1;
        }
    }

    .details-section-btn {
        /*
        Contains the generic button attributes
    */
    }

    .btn-group {
        /* Contains the attributes unique to the Details Section */
        position: relative;
        float: left;

        .details-section-btn {
            /*
          Contains the generic button attributes inside a group
      */
            float: left;
        }

        .details-section-btn-divider-left {
            /* Contains the button divider attributes */
        }
    }
}
