.peek-information-section {
    /*
      Contains the Information Section classes
  */

    padding: $general_padding_2;

    .information-section-title {
        /*
        Contains the title attributes unique to the peek-information-section class
    */
        padding-bottom: $general_padding_2;
    }

    .information-section-icon {
        /*
        Contains the icon attributes unique to the peek-information-section class
    */
        background-image: url("~@synerty/peek-plugin-base-js/src/assets/images/home_background.png");
        @include inner-shadow(0.35);
        padding: $general_padding_3;
        max-width: $general_width_1;
        height: auto;
        border-radius: $general_border_radius;
        margin-top: $general_padding_4;
        margin-bottom: $general_padding_4;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
