.mobile-dialog {
    /* Contains the Dialog Mobile Section looks classes unique for mobile devices */
    padding: $general_padding_2;

    .dialog-label {
        /*
        Contains the title attributes unique to the Dialog Mobile Section
    */
    }

    .dialog-value {
        /*
        Contains the value attributes unique to the Dialog Mobile Section
    */
        padding: $general_padding_1;
        margin-right: $general_margin_1;
        margin-bottom: $general_margin_1;
        border-radius: $general_border_radius;
    }

    .dialog-selector {
        /*
        Contains the selector attributes unique to the Dialog Mobile Section
    */
        @include editable-web-layout;
    }

    .dialog-btn-block {
        /*
        Contains the btn block attributes unique to the Dialog Mobile Section
    */
    }

    .dialog-action-btn-group {
        /*
        Contains the action button group attributes unique to the Dialog Mobile Section
    */
        float: right;
        border-radius: $general_border_radius;
    }

    .dialog-action-btn {
        /*
        Contains the action button attributes
    */
        border-radius: $general_border_radius;
    }

    .btn-group > .dialog-action-btn {
        position: relative;
        float: left;
    }
}
