//Peek navigation section
.peek-nav-section {
    /* Contains the Navigation Section attributes */
    padding: $general_padding_1;
    width: 100%;
    position: fixed;
    z-index: 899;

    .btn-group {
        /* Contains the attributes unique to the Navigation Section */
        position: relative;
        float: left;
        border-radius: $general_border_radius;

        .nav-section-btn {
            /* Contains the Button attributes unique to the Navigation Section */
            float: left;
        }

        .nav-section-btn-divider {
            /* Contains the button divider attributes unique to the Navigation Section */
        }
    }
}

.peek-nav-bar-padding {
    /* Provides padding for the screen under the Navigation Section */
    padding-top: $nav_bar_padding_top;
}
