<div>
    <div
        *ngIf="msgDetails.isFleeting() || msgDetails.isSticky()"
        [@msgPopup]="shownStr"
    >
        <div (click)="msgClicked()">
            <div
                class="alert"
                [class.alert-success]="msgDetails.isSuccess()"
                [class.alert-info]="msgDetails.isInfo()"
                [class.alert-warning]="msgDetails.isWarning()"
                [class.alert-danger]="msgDetails.isError()"
            >
                <span style="white-space: pre-wrap"
                    >{{ msgDetails.msg }}
                    <Button
                        *ngIf="msgDetails.hasRoute()"
                        class="btn invisible"
                        type="button"
                        >&nbsp;</Button
                    >
                    <Button
                        *ngIf="msgDetails.hasRoute()"
                        class="btn pull-right"
                        type="button"
                        (click)="openClicked()"
                        >Open</Button
                    ></span
                >
            </div>
        </div>
    </div>

    <div *ngIf="msgDetails.isConfirm() || msgDetails.isConfirmCancel()">
        <div
            class="modal"
            [class.bg-success]="msgDetails.isSuccess()"
            [class.bg-info]="msgDetails.isInfo()"
            [class.bg-warning]="msgDetails.isWarning()"
            [class.bg-danger]="msgDetails.isError()"
            [class.show]="afterViewInit$ | async"
            id="BalloonMsg{{ msgDetails.msgId }}"
            tabindex="-1"
            role="dialog"
            [@msgDialog]="shownStr"
            data-backdrop="false"
            data-keyboard="false"
            data-show="true"
        >
            <div class="modal-dialog panel" role="document">
                <div class="modal-content">
                    <div
                        class="modal-header"
                        *ngIf="msgDetails.dialogTitle != null"
                    >
                        <h4 class="modal-title">
                            {{ msgDetails.dialogTitle }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p style="white-space: pre-wrap">
                            {{ msgDetails.msg }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button
                            *ngIf="msgDetails.isConfirmCancel()"
                            (click)="cancelClicked()"
                            type="button"
                            class="btn"
                        >
                            {{ msgDetails.cancelText }}
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="confirmClicked()"
                        >
                            {{ msgDetails.confirmText }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
