.peek-details-section {
    /* Contains the Details Section looks classes */

    .details-section-title {
        /*
        Contains the title attributes unique to the Details Section
        this text will have the text-muted effect
    */
        font-size: $general_font_size_3;
        color: $font_colour_information;
    }

    .details-section-value {
        /*
        Contains the value attributes unique to the Details Section
        text to have the focus of attention
    */
        font-size: $general_font_size_5;
        font-weight: 500;
        color: $font_colour_data;
    }

    .editable {
        /*
        Contains the editable attributes unique to the .details-section-value class
    */
        @include editable;
    }

    .editable-md {
        /*
        Contains the height property for the .editable class
    */
        @include editable;
    }

    .editable-lg {
        /*
        Contains the height property for the .editable class
    */
        @include editable;
    }

    .details-section-btn {
        /*
        Contains the generic button attributes
    */

        @include button-settings;
    }

    .btn-group {
        .details-section-btn {
            /*
          Contains the generic button attributes inside a group
      */
        }

        .details-section-btn.active {
            /* Contains the Button attributes for the active button unique to the Details Section */
            color: $font_colour_button;
            background-color: $primary;
        }

        .details-section-btn-divider-left {
            /* Contains the button divider attributes (NOT required in web app)*/
            border-left-width: $general_border;
            border-color: $general_button_divider;
        }
    }

    .details-section-btn-disabled {
        cursor: not-allowed;
        box-shadow: none;
        background-color: $general_button_background_disabled;
        color: $font_colour_disabled;
    }
}
