.title {
    /* Applies the title theme */
    font-size: $general_font_size_6;
    text-align: center;
    color: $font_colour_information;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    /* Applies the heading theme */
    font-family: $fonts_special;
}

.p {
    /* Applies the text theme */
    color: $font_colour_information;
}

.hr {
    border-color: $general_section_divider;
}

.btn {
    /*
      Contains the generic button attributes
  */

    @include button-settings;
}

.bg-secondary {
    /* Applies the primary background theme */
    color: $font_colour_data;
    background-color: $secondary_light;
}

.bg-primary {
    /* Applies the primary background theme */
    color: $font_colour_data;
    background-color: $primary_light;
}

.bg-primary.bg-odd {
    /* Applies the table even rows background theme */
    background-color: $primary_tr;
}

.bg-success {
    /* Applies the success background theme */
    color: $font_colour_data;
    background-color: $success_light;
}

.bg-success.bg-odd {
    /* Applies the table even rows background theme */
    background-color: $success_tr;
}

.bg-info {
    /* Applies the info background theme */
    color: $font_colour_data;
    background-color: $info_light;
}

.bg-info.bg-odd {
    /* Applies the table even rows background theme */
    background-color: $info_tr;
}

.bg-warning {
    /* Applies the warning background theme */
    color: $font_colour_data;
    background-color: $warning_light;
}

.bg-warning.bg-odd {
    /* Applies the table even rows background theme */
    background-color: $warning_tr;
}

.bg-danger {
    /* Applies the danger background theme */
    color: $font_colour_data;
    background-color: $danger_light;
}

.bg-danger.bg-odd {
    /* Applies the table even rows background theme */
    background-color: $danger_tr;
}

.btn-primary {
    /* Applies the primary button theme */

    background-color: $primary;
    background-image: none;

    &:hover {
        background-color: $primary_dark;
    }
}

.btn-success {
    /* Applies the success button theme */

    background-color: $success;
    background-image: none;

    &:hover {
        background-color: $success_dark;
    }
}

.btn-info {
    /* Applies the info button theme */

    background-color: $info;
    background-image: none;

    &:hover {
        background-color: $info_dark;
    }
}

.btn-warning {
    /* Applies the warning button theme */

    background-color: $warning;
    background-image: none;

    &:hover {
        background-color: $warning_dark;
    }
}

.btn-danger {
    /* Applies the danger button theme */

    background-color: $danger;
    background-image: none;

    &:hover {
        background-color: $danger_dark;
    }
}
