.peek-home-screen {
    /*
      Contains the Home Screen classes
      Contains the Background attributes
      Home Screen background is unique and different to other screens
      Cannot use the body tag
  */

    .home-screen-icon {
        /*
        Contains the Button attributes unique to the Home Screen
        Buttons responsively wrap
    */

        background-repeat: repeat;
        display: block;
        border-radius: $general_border_radius + 2.7px;
        font-family: $fonts_special;
        @include box-shadow;

        .home-screen-image {
            /*
          Contains the Image attributes unique to the Home Screen
          Strictly uses images
      */
        }

        .home-screen-title {
            /* Contains the Button Title attributes unique to the Home Screen */
            font-family: $fonts_special;
            color: $white;
            text-align: center;
            text-wrap: normal;
            font-size: $general_font_size_3;
        }
    }

    .home-screen-message {
        /* Contains the message attributes unique to the Home Screen */
        font-size: $general_font_size_6;
        color: $white;
        font-weight: bold;
    }
}

.peek-home-screen-background {
    /*
      Contains the Background attributes
      Home Screen background is unique and different to other screens
      Cannot use the body tag
  */
    background-repeat: no-repeat;
    background-color: $general_background_color;
    background-size: cover;
}
