.mobile-dialog {
    /* Contains the Dialog Mobile Section looks classes unique for mobile devices */
    border-bottom: $general_border solid $grey;
    background: white;

    .dialog-label {
        /*
        Contains the title attributes unique to the Dialog Mobile Section
    */
        font-size: $general_font_size_3;
        color: $font_colour_information;
    }

    .dialog-value {
        /*
        Contains the value attributes unique to the Dialog Mobile Section
    */
        font-size: $general_font_size_3;
        font-weight: 500;
        color: $font_colour_data;
    }

    .dialog-selector {
        /*
        Contains the selector attributes unique to the Dialog Mobile Section
    */
        @include editable-style;
    }

    .dialog-action-btn-group {
        /*
        Contains the action button attributes unique to the Dialog Mobile Section
    */
        margin: $general_margin_1;
    }

    .dialog-action-btn {
        /*
        Contains the action button group attributes unique to the Dialog Mobile Section
    */

        @include button-settings;
    }

    .dialog-btn-block {
        /*
        Contains the btn block attributes unique to the Dialog Mobile Section
    */
        .dialog-action-btn {
            /*
          Contains the action button attributes unique to the Dialog Mobile Section
      */
        }
    }

    .dialog-action-btn-divider {
        /* Contains the button divider attributes unique to the Dialog Mobile Section */
        border-right-width: $general_border;
        border-color: $general_button_divider;
    }

    .dialog-action-btn-disabled {
        cursor: not-allowed;
        box-shadow: none;
        background-color: $general_button_background_disabled;
        color: $font_colour_disabled;
    }
}
