//Peek navigation section
.peek-nav-section {
    /* Contains the Navigation Section attributes */
    border-bottom: $general_border solid $general_section_divider;
    overflow: hidden;
    background: white;

    .btn-group {
        /* Contains the attributes unique to the Navigation Section */

        .nav-section-btn {
            /* Contains the Button attributes unique to the Navigation Section */

            @include button-settings;
        }

        .nav-section-btn-divider {
            /* Contains the button divider attributes unique to the Navigation Section */
            border-right-width: $general_border;
            border-color: $general_button_divider;
        }

        .nav-section-btn-disabled {
            cursor: not-allowed;
            box-shadow: none;
            background-color: $general_button_background_disabled;
            color: $font_colour_disabled;
        }
    }
}

.peek-nav-bar-padding {
    /* Provides padding for the screen under the Navigation Section */
}
