.pl-inbox {
    /*
      Contains the style and classes for the inbox container
  */

    .pl-inbox-item {
        /*
        Contains the style and classes for each inbox item
    */
        border-bottom: $general_border solid $white;
    }

    .pl-inbox-icon {
        /*
        Contains the icon attributes unique to the .pl-inbox-item class
    */
        color: $brand;
        font-size: $general_font_size_4;
    }

    .pl-inbox-info {
        /*
        Contains the info attributes unique to the .pl-inbox-item class
    */
    }

    .pl-inbox-title {
        /*
        Contains the title text attributes unique to the .pl-inbox-info class
    */
        font-size: $general_font_size_3;
        color: $font_colour_data;
    }

    .pl-inbox-description {
        /*
        Contains the description text attributes unique to the .pl-inbox-info class
    */
        font-size: $general_font_size_2;
        color: $font_colour_information;
    }

    .pl-inbox-date-time {
        /*
        Contains the date and time attributes unique to the .pl-inbox-info class
    */
        font-size: $general_font_size_2;
        color: $font_colour_data;
    }

    .pl-inbox-read-more {
        /*
        Contains the read more link attributes unique to the .plugin-inbox class
    */
    }
}
