//Peek tabs section
.peek-tabs-section {
    /* Contains the Tabs Section attributes */
    border-bottom: $general_border solid $general_section_divider;
    overflow: hidden;
    background: white;

    .btn-group {
        /* Contains the attributes unique to the Tabs Section */

        .tabs-section-btn {
            /* Contains the Button attributes unique to the Tabs Section */

            @include button-settings;

            margin-top: $general_margin_1 / 4;
            border-bottom-width: $general_border;
            border-color: $general_button_divider;

            &:last-child {
                border-radius: 0;
                border-right: 0;
            }

            &:first-child {
                border-radius: 0;
            }
        }

        .tabs-section-btn.active {
            /* Contains the Button attributes for the active tab unique to the Tabs Section */
            margin-top: 0;
            padding: $general_button_padding * 1.25;
            color: $font_colour_button;
            background-color: $primary;
            border-bottom-width: 0;
        }

        .tabs-section-btn-divider {
            /* Contains the button divider attributes unique to the Tabs Section */
            border-right-width: $general_border;
            border-color: $general_button_divider;
        }

        .tabs-section-btn-disabled {
            /* Contains the button disabled attributes unique to the Tabs Section */
            cursor: not-allowed;
            box-shadow: none;
            background-color: $general_button_background_disabled;
            color: $font_colour_disabled;
        }
    }
}

.peek-tabs-bar-padding {
    /* Provides padding for the screen under the Tabs Section */
}
