// Title Bar
.peek-title-bar {
    /* Contains the Title Bar classes */
    background-color: $white;
}

.title-bar-btn {
    /* Contains the button attributes unique to the Title Bar */
    color: $white;
    cursor: pointer;
    border: 0;
    font-size: $general_font_size_3;
    border-radius: 0;
    background-color: $brand;
    border-right: $general_border solid $brand_dark;
    border-left: 0;
}

.title-bar-btn {
    &:last-child {
        border-right: 0;
    }
}

.title-bar-btn-divider {
    /* Contains the button divider attributes unique to the Navigation Section */
    border-left-width: $general_border;
    border-color: $brand_dark;
}

.title-bar-title {
    /* Contains the title attributes unique to the Title Bar */
    font-size: $general_font_size_3;
    color: $black;
    text-align: center;
}

.peek-page-contents {
    /* Contains the padding to stop the screens being covered by the title-bar */
}
