//colours
$grey: #9e9e9e;
$white: #ffffff;
$black: #000000;
$brand: #26abe2;
$brand_light: #6eddff;
$brand_dark: #007cb0;
$secondary: #9e9e9e;
$secondary_light: #cfcfcf;
$secondary_tr: lighten($secondary_light, 15%);
$secondary_dark: #707070;

$primary: #337ab7;
$primary_light: lighten($primary, 30%);
$primary_tr: lighten($primary, 25%);
$primary_dark: darken($primary, 10%);
$success: #5cb85c;
$success_light: lighten($success, 20%);
$success_tr: lighten($success, 15%);
$success_dark: darken($success, 10%);
$info: #5bc0de;
$info_light: lighten($info, 20%);
$info_tr: lighten($info, 15%);
$info_dark: darken($info, 10%);
$warning: #f0ad4e;
$warning_light: lighten($warning, 20%);
$warning_tr: lighten($warning, 15%);
$warning_dark: darken($warning, 10%);
$danger: #d9534f;
$danger_light: lighten($danger, 20%);
$danger_tr: lighten($danger, 15%);
$danger_dark: darken($danger, 10%);

$general_background_color: $secondary_light;
$general_header_background: $secondary;
$general_section_divider: $secondary_dark;
$general_button_background: $secondary;
$general_button_background_hover: $secondary_dark;
$general_button_background_disabled: $secondary_light;
$general_button_divider: $secondary_dark;
$general_icon_color: $secondary_dark;
$inbox_button_background: $secondary;

//fonts
$fonts_special: arial;
$font_colour_data: $black;
$font_colour_information: $secondary_dark;
$font_colour_disabled: $secondary;
$font_colour_button: $white;

//sizes
$general_border: 1.3px;
$general_border_radius: 4px;
$general_button_padding: 8px;
$general_button_min_width: 60px;
$general_line_height: 1.42857143;

$general_width_1: 100px;
$general_width_2: 250px;

$general_font_size_1: 12.8px;
$general_font_size_2: 14.4px;
$general_font_size_3: 16px;
$general_font_size_4: 20px;
$general_font_size_5: 24px;
$general_font_size_6: 32px;
$general_font_size_7: 48px;

$general_height_1: 48px;
$general_height_2: 82px;
$general_height_3: 116px;

$general_padding_1: 8px;
$general_padding_2: 16px;
$general_padding_3: 20px;
$general_padding_4: 32px;
$general_padding_5: 64px;

$general_margin_1: 16px;
$general_margin_2: 20px;
$general_margin_3: 32px;
$general_margin_4: 64px;

//title bar
$title_bar_height: 96px;
$title_bar_button_min_width: 66.7px;
$title_bar_padding: 10.7px;

// Desktop
$desktop_side_bar_width: 150px;

//nav bar
$nav_bar_padding_top: 48px;

//tabs bar
$tabs_bar_padding_top: 49px;

//hr
$hr_height: 1.3px;

//home screen
$home_screen_image_padding: 40px;

//inbox
$inbox_date_time_margin: 5px;
$inbox_date_time_padding: 5px;
$inbox_nav_tabs_padding_active: 12px;
$inbox_nav_tabs_padding: 10px;
$inbox_nav_tabs_margin: 4px;

//chat
$chat_messages_margin: 6.7px;
$chat_messages_min_height: 1.3px;

//mobile dialog
$mobile_dialog_btn_block_margin: 6.7px;

//image asset locations
$web_images: "~@synerty/peek-plugin-base-js/src/assets/images/";
