// Ant design override styles

@import "src/variables";

.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
.ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane {
    -webkit-backface-visibility: hidden;
}

.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav,
.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav {
    margin-bottom: 0;
}

.ant-modal-header {
    display: flex;
    align-items: center;
    height: 56px;
    background: $primary-color;
    border-bottom: none;
}

.ant-modal-header .ant-modal-title {
    color: #fff;
}

.ant-modal-close-x {
    color: #fff;
    font-size: $icon-size;
}

.ant-form-item {
    margin: 0 0 16px;
}
