@import "variables";
@import "mixins";

//peek screens
@import "layout/_title_bar";
@import "layout/_home_screen";

//plugin screens
@import "layout/_plugin_inbox";
@import "layout/_plugin_chat";

//generic sections
@import "layout/_navigation_section";
@import "layout/_tabs_section";
@import "layout/_mobile_dialog_section";
@import "layout/_information_section";
@import "layout/_details_section";
@import "layout/_tables_section";

@import "layout/_general";

body,
html {
    height: 100%;
}

.image {
    max-width: 100%;
}

.hr {
    margin-top: 0;
    margin-bottom: 0;
}

*:focus {
    outline: none !important;
}

.navigation-information {
    //border-bottom: 1px solid darken($grey,20%);
    margin-bottom: $general_padding_2;

    .form-group {
        padding-top: 0;
        margin-bottom: 0;
    }
}

.form-group {
    margin-bottom: 0;
    padding-bottom: $general_padding_2;
    padding-top: $general_padding_2;
    //color: $black;
}
