@import "variables";
@import "mixins";

*:focus {
    outline: none !important;
}

//peek screens
@import "style/_title_bar";
@import "style/_home_screen";

//plugin screens
@import "style/_plugin_inbox";
@import "style/_plugin_chat";

//generic sections
@import "style/_navigation_section";
@import "style/_tabs_section";
@import "style/_mobile_dialog_section";
@import "style/_information_section";
@import "style/_details_section";
@import "style/_tables_section";

@import "style/_general";

body,
html {
    font-size: $general_font_size_3;
    color: $font_colour_information;
    //height: 100%;
    font-family: $fonts_special;
}

.navigation-information {
    border-bottom: $general_border solid darken($grey, 20%);
    //margin-bottom: $general_padding;
}

.form-group {
    color: $black;
}
